:root {
    font-family: 'Shantell Sans', cursive;
    font-weight: 500;
    line-height: 1.5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --dark-green: #18434A;
    --light-green: #71A995;
    --light-beige: #fbf2d5;
    --dark-yellow: #FDC479;
    --dark-brown: #2E2922;
}

body {
    margin: 0;
    background-color: var(--light-beige);
    color: var(--dark-brown);
}